<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OTF HR</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">   
        <link rel="stylesheet" href="/css/mainPage.css">
    </head>
    <body>

        <header >           
            
            <%- include('../views/templates/nav') %>

        </header>

        <div class="container-fluid emp-profile noLRMar">

                    
                    <!-- SECCION CABECERA PERFIL  -->

                    <div class="row d-flex justify-content-center" > 

                        <!-- FOTO DE PERFIL-->

                        <div class="col-12 col-lg-4 order-1 order-lg-0">
                            <div class="profile-img">
                                <img class="img-fluid" src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?cs=srgb&dl=pexels-helena-lopes-2253275.jpg&fm=jpg" alt=""/>
                                <div class="file btn btn-lg btn-primary opacity-50">
                                    Change Photo
                                    <input type="file" name="file"/>
                                </div>
                            </div>
                        </div>

                        <!-- NOMBRE, APPELLIDO, CARGO Y NAV LINKS ---- TAMAÑO 6-->

                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <div class="profile-head">

                                <h5 class="text-center"><%= name %> <%= lastname %></h5>
                                <h7 class="text-center"><%= post %></h7>                            
                                <p class="proile-rating text-center">Status : <span>Active</span></p>

                                <ul class="nav nav-tabs" id="myTab" role="tablist">

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Information</button>
                                    </li>
                                    
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Documents</button>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <!-- BOTON EDITAR PERFIL ----- TAMAÑO 2 -->

                        <div class="col-12 col-lg-2 order-0 order-lg-2 mb-2 justify-content-center">

                            <form action="/editar?doc=<%=user_doc%>" class="d-flex">
                                <button class="btn btn-outline-success" type="submit">Edit Profile</button>
                            </form>
                                                
                        </div>

                    </div> 

                    <!-- FIN SECCION CABECERA PERFIL  -->




                    <!-- SECCION INFORMACIÓN PERFIL -->

                    <div class="row">

                        <!-- INFORMACIÓN DEBAJO DE LA FOTO  ---- TAMAÑO 4-->

                        <div class="col-12 col-lg-4 order-1 order-lg-0 p-0">
                            <div class="profile-work">
                                <p>WORK LINK</p>
                                <a href=""><%= email_e %></a><br/>
                                <a href=""><%= city %></a><br/>
                                <a href="">-</a>
                                <p>OTHER INFO</p>
                                <a href="">--</a><br/>
                                <a href="">--</a><br/>
                                <a href="">--</a><br/>
                                <a href="">--</a><br/>
                                <a href="">--</a><br/>
                            </div>
                        </div>

                        <!-- INFORMACIÓN DEL TABS -----TAMAÑO 8  -->

                        <div class="col-12 col-lg-8">
                            <div class="tab-content profile-tab" id="myTabContent">

                                <!-- PRIMER TAB CORP INFO --> 
                                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Citizenship card
                                            </label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= id %></p>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <label>City</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= city %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label>Personal email</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= email_p %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label>Phone number</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= phone %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label>Vegetarian</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= vegetarian %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= address %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label>Size</label>
                                        </div>
                                        <div class="col-6">
                                            <p><%= size %></p>
                                        </div>
                                    </div>

                                    
                                </div>

                               

                                <!-- SEGUNDO TAB DOCUMENTOS --> 
                                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Ingreso">Ingreso</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Hoja de vida">Hoja de vida</a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Exámenes Médicos">Exámenes Médicos</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Recomendaciones Médicas">Recomendaciones Médicas</a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=ARL">ARL</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=EPS">EPS</a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=SST">SST</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Caja de Compensación">Caja de Compensación</a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Incapacidades">Incapacidades</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Licencias">Licencias</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Vacaciones">Vacaciones</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Comprobanted de pago">Comprobanted de pago</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Otros">Otros</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="/archivo?doc=<%=user_doc%>&categoria=Retiro">Retiro</a>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                        </div>

                        

                    </div>
                
        </div>

        <footer>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="./js/firebaseConfig.js"></script>
        
        
    </body>
</html>